.footer {
  background-color: var(--color-primary);
  color: var(--color-gray-98);

  display: grid;
  gap: 1.5rem;

  margin-block-start: 7rem;
  padding-block: 3.75rem 1.5rem;
  padding-inline: max(1rem, (100% - 1200px) / 2);

  font-size: 1rem;
  font-weight: 500;

  line-height: 1.5rem;

  .main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3rem;

    .heading {
      display: grid;
      align-content: start;
      gap: 1.5rem;

      .logo {
        font-size: 2.5rem;
      }

      .description {
      }
    }

    .category {
      display: grid;
      gap: 1.25rem;
      align-content: start;

      .title {
        font-weight: 700;
      }

      ul {
        list-style: none;

        display: grid;
        gap: 1rem;

        li {
          a {
            color: inherit;

            font-weight: 400;

            text-decoration: none;
          }
        }
      }
    }
  }

  .divider {
    margin-block-start: 3rem;

    border-block-start: 2px solid var(--color-primary-border);
  }

  .extra {
    display: flex;
    justify-content: space-between;
    gap: 2rem;

    .socials {
      display: flex;
      gap: 1rem;

      font-size: 2rem;
    }

    .copyright {
    }
  }
}
