.stats {
  list-style: none;

  display: flex;
  justify-content: center;
  gap: 3rem;

  inline-size: min(75rem, 100% - 2rem);

  margin: 7rem auto;

  > li {
    display: grid;
    justify-items: center;

    .value {
      background: linear-gradient(to left, #88d8ff 12%, #0179b4 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      font-family: "Manrope", system-ui;
      font-size: 3rem;
      font-weight: 800;

      line-height: 1;
    }

    .label {
      color: var(--color-gray-40);

      font-size: 0.875rem;
      font-weight: 600;

      line-height: 1.7;
    }
  }
}
